#guessOptions{
  margin-top: 50px;
}

.guessOption {
  height: 75px;
  border: 2px solid black;
  background-color: white;
  font-family: 'Walter Turncoat', cursive;
}

.guessOption:hover{
  background-color: #dddddd;
}

.timer {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 8px solid black;
  text-align: center;
  line-height: 150px;
  font-size: 75px;
  margin: 0 auto 50px auto;
  font-family: 'Orbitron', sans-serif;
  background-color: #FF3562;
  color: white;
}

.question h2 {
  text-align: center;
  height: auto;
  font-size: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  color: black;
}

.gameScore{
  font-size: 40px;
  margin: 25px 40px 0 0;;
  float: right;
}
