html{font-size: 16px;}

body{
  font-size: 62.5%;
  background-color: #ffdb4d;
}
main{padding-bottom: 0;}

h1{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2vw;
}

h2 {padding: 10px;}

h3{
  text-align: center;
  font-size: 3vw;
}

input {margin-top: 15px;}



a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: white;
}

table{margin-top: 15px;}

th {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

td{font-size: 1.3em;}

p{
  font-size: 2.2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}




#verbsTableHeader th:hover{background-color: #e60032;}

#progressTableHeader th:hover{background-color: #ff6600;}

#verbs{background-color: #3F88C5;}

#gamesContainer{
  margin-top: 5vw;
  text-align: center;
  animation: slideUp 0.4s;
}

#pivot h1{
  font-size: 12vw;
  color: black;
  animation: slideDown 0.4s;
  clear: right;;
}

#scoreData{
  box-sizing: border-box;
  margin: 5.319149% auto 5.319149% auto;
  width: 50vw;
  height: 53.191489%;
  padding: 5%;
  border-radius: 10px;
  border: 5px solid white;
  animation: slideDown 0.4s;

}

#logIn{
  text-align: center;
  margin-top: 3.191489%;
}

#welcomeMessage {
  font-size: 1.5vw;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: -2vw -10vw 0 -10vw;
  padding: 0.4vw
}

.quote {font-size: 3.5vw;}

.p{color: #00ace6;}
.v{color: #FF3562;}
.t{color: #ff8533;}

.title{
  font-size: 6em;
  color: black;
  text-align: center;
  margin: 60px auto 50px auto;
}


.center{
  text-align: center;
  margin: 0 auto;
}

.left {
  float:left;
  margin-left: 15.957446808%;
}

.glyphicon{
  font-size: 4em;
  color: black;
}

.glyphicon-repeat{font-size: 6em;}

.glyphicon-log-in, .glyphicon-log-out {
  float: right;
  font-size: 3em;
  margin: 0 2.659574468% 2.659574468% 0;
}

.glyphicon-log-in {color: #00ace6;}
.glyphicon-log-out {color: #FF3562;}

/* text shadows */

.shadow{text-shadow: 2px 2px white;}
.darkShadow{text-shadow: 2px 2px black;}
.borderShadow{text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

.container{
  padding: 2%;
  margin-top: 4;
  width: 94%;
}

.jumbotron{
  width: 100%;
  color: black;
  text-align: center;
  font-size: 3.45em;
}

.home{float: left;}

.quote{
  font-family: 'Walter Turncoat', cursive;
  animation: fadeIn 1.5s ease-in-out;
}


.whiteFont{color: white;}

/* background colors */

.blue{background-color: #00ace6;}
.yellow{background-color: #ffdb4d;}
.orange{background-color: #ff8533;}
.white{background-color: white;}
.fuschia{background-color: #FF3562;}

/* background percentage colors */

.greenEqualBelow100{background-color: #92f372;}
.greenBelow90{background-color: #80f15b;}
.greenBelow80{background-color: #6eef43;}
.greenBelow70{background-color: #5ced2c;}
.greenBelow60{background-color: #4aeb14;}
.redBelow50{background-color: #ff0037;}
.redBelow40{background-color: #e60032;}
.redBelow30{background-color: #cc002c;}
.redBelow20{background-color: #b30027;}
.redBelow10{background-color: #990021;}

.digit{
  font-size: 2.361111em;
  padding: 5%;
}

.percentage {
  font-size: 7em;
  margin-top: 2.659574468%;
  animation:bounce 1s;
  -webkit-animation: bounce 1s;
}

.gameSquare {
  height: 13vw;
  width: 13vw;
  border: 2px solid black;
  border-radius: 1em;
  text-align: center;
  box-shadow: 5px 2px 2px grey;
  display: inline-block;
  margin: 4.19463087%;
  font-family: 'Walter Turncoat', cursive;
}

/* GAME SCREEN */

#guessOptions{margin-top: 5.319149%;}

.guessOption {
  height: 25%;
  border: 2px solid black;
  background-color: white;
  font-family: 'Walter Turncoat', cursive;
}

.correctGreen{
  background-color: #80f25a;
  color: black;
  text-shadow: 2px 2px white;
}

.incorrectRed{
  background-color: #D00000;
  color: white;
  text-shadow: 2px 2px black;
}

.timer {
  width: 15em;
  height: 15em;
  border-radius: 7.5em;
  border: 8px solid black;
  text-align: center;
  margin: 0 auto 0 auto;
  font-family: 'Orbitron', sans-serif;
  background-color: #FF3562;
  color: white;
}

.timer h3 {
  font-size: 7.5em;
  padding-top: 1vw;
}

.question h2 {
  clear:both;
  text-align: center;
  height: 9vw;
  margin-top: 4vw;
  font-size: 3vw;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  color: black;
}

.gameScore{
  float:right;
  font-size: 9em;
  margin: 0 10% 0 0;
  display: inline-block;
}

.scoreAnimation{
  transform: scale(1.5);
  transition: all 0.8s ease-in-out;
}

.redFont{
  color: #D00000;
  text-shadow: 3px 3px black;
}
.greenFont{
  color: #80f25a;
  text-shadow: 3px 3px black;
}

/* MEDIA */

@media screen and (max-width: 1050px){

  h1 {font-size: 2.5vw;}

  h3 {font-size: 4vw;}

  p{font-size: 3vw;}

  #pivot h1{font-size: 15vw;}



  .question h2 {
    height: 12vw;
    margin-top: 6vw;
    font-size: 4vw;
  }

  #welcomeMessage {font-size: 1.5em;}

  .gameSquare {
    width: 17vw;
    height: 17vw;
  }
}

@media screen and (max-width: 930px){

  h1 {font-size: 3vw;}

  h3 {font-size: 4.5vw;}

  #pivot h1{font-size: 17vw;}

  .gameSquare {
    width: 18vw;
    height: 18vw;
  }
}

@media screen and (max-width: 650px){

  h1 {font-size: 3.4vw;}

  h3 {font-size: 5.5vw;}

  #pivot h1{font-size: 20vw;}

  p{font-size: 4vw;}

  .quote {font-size: 5.5vw;}


  .question h2 {
    height: 15vw;
    margin-top: 8vw;
    font-size: 5vw;
  }

  .timer h3 {
    padding-top: 2.2vw;
  }

  .gameSquare {
    width: 23vw;
    height: 23vw;
  }
}

@media screen and (max-width: 550px){

  h1 {font-size: 4.2vw;}

  h3 {font-size: 6vw;}

  #pivot h1{font-size: 23vw;}

  p{font-size: 4.7vw;}

  .question h2 {
    font-size: 6vw;
    height: 25vw;
    margin-top: 4vw;
  }

  .timer h3 {
    padding-top: 3vw;
  }

  .gameSquare {
    width: 28vw;
    height: 28vw;
  }
}


@media screen and (max-width: 414px) {

  h1 {font-size: 6vw;}

  h3 {font-size: 8vw;}

  p{font-size: 6vw;}

  #pivot h1{font-size: 80px;}

  #gamesContainer{
    margin-top: 35px;
    text-align: center;
    bottom:0;
  }
  #guessOptions{
    margin-top: 10px;;
  }

  #scoreData{
    box-sizing: border-box;
    margin: 5.319149% auto 5.319149% auto;
    width: 80%;
    height: 250px;
    padding: 5%;
    border-radius: 10px;
    border: 2px solid white;
  }

  .quote {font-size: 7vw;}

  .gameSquare {
    height: 36vw;
    width: 36vw;
  }
  .title{
    font-size: 45px;
    margin: 40px 0 25px 0;
  }

  .timer {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 5px solid black;
    margin: 0 auto 0 auto;
  }

  .timer h3 {
    font-size: 50px;
    padding-top: 0.5vw;
  }

  .question h2 {
    margin: 0 2px 5px 2px;
    padding-top: 20px;
    height: 40vw;
    font-size: 22px;
  }

  .digit {font-size: 30px;}

  .percentage {
    margin-top: 25px;
    animation:bounce 1s;
    -webkit-animation: bounce 1s;
  }

  .gameScore{
    float:right;
    font-size: 75px;;
    margin: 0 0 0 0;
  }

}
