h1{
  font-size: 50px;
}

h2 {
  padding: 10px;
}

h3{
  text-align: center;
}

input {
  margin-bottom: 50px;
}

#gameScore{
  font-size: 40px;
  margin: 25px 0
}

#guessOptions{
  margin-top: 50px;
}


.guessOption {
  border: 2px solid black;
  margin-bottom: 5px;
}

.guessOption:hover{
  background-color: #dddddd;
}

.definition {
  text-align: center;
  height: 50px;
  font-size: 25px;
  background-color: #eeeeee;
}

.blank {
  text-align: center;
  height: 75px;
  font-size: 25px;
  background-color: #eeeeee;
}

.jumbotron {
  text-align: center;
}
