<div class="container">
  <h1 id="choiceTitle" class="shadow">Choose a Game!</h1>
  <div class="row center">
    <a href="#home"><span class="glyphicon glyphicon-home"></span></a>
  </div>
  <div id="gamesContainer">
    <a href="#definition" ><div class="gameSquare grow blue whiteFont" ng-click="choice.setGameId(1)"><p>Definition Match</p></div></a>
    <a href="#blank" ><div class="gameSquare grow fuschia whiteFont" ng-click="choice.setGameId(2)"><p>Fill in the blanks</p></div></a>
  </div>
</div>
