<div class="container gameBackground">
  <!-- <h1 class="jumbotron blue whiteFont">Definition Match!</h1> -->
  <a href="#home"><span class="glyphicon glyphicon-home grow"></span></a>
  <div class="gameScore"><span class="digit shadow">{{def.correct}}</span></div>
  <div class ="timer"><h3>{{def.counter}}</h3></div>

  <!-- <div id="timer">
    <countdown timer="def.timer" radius="50" stroke="10"></countdown>
    <button ng-click="def.timer.start()">Start</button>
  </div> -->



  <div class="question">
    <h2>{{def.currentVerbDefinition}}</h2>
  </div>

  <div id="guessOptions">
    <div class="row">
      <div ng-click="def.isCorrect(def.guessOptions[0])" class="col-md-offset-2 col-md-4 guessOption">
        <h3 >{{def.guessOptions[0]}}</h3>
      </div>
      <div ng-click="def.isCorrect(def.guessOptions[1])" class="col-md-4 guessOption">
        <h3 >{{def.guessOptions[1]}}</h3>
      </div>
    </div>
    <div class="row">
      <div ng-click="def.isCorrect(def.guessOptions[2])" class="col-md-offset-2 col-md-4 guessOption">
        <h3 >{{def.guessOptions[2]}}</h3>
      </div>
      <div ng-click="def.isCorrect(def.guessOptions[3])" class="col-md-4 guessOption">
        <h3 >{{def.guessOptions[3]}}</h3>
      </div>
    </div>
  </div>

</div>
