<div class="container gameBackground">
  <a href="#home"><span class="glyphicon glyphicon-home grow"></span></a>
  <div class="gameScore shadow">{{def.correct}}</div>
  <div class ="timer"><h3>{{def.counter}}</h3></div>

  <div class="question">
    <h2>{{def.currentGameQuestion}}</h2>
  </div>

  <div id="guessOptions">
    <div class="row">
      <div id="guessOption0" ng-click="def.isCorrect(def.guessOptions[0], '#guessOption0')" class="col-md-offset-2 col-md-4 guessOption" >
        <h3 >{{def.guessOptions[0]}}</h3>
      </div>
      <div id="guessOption1" ng-click="def.isCorrect(def.guessOptions[1], '#guessOption1')" class="col-md-4 guessOption">
        <h3 >{{def.guessOptions[1]}}</h3>
      </div>
    </div>
    <div class="row">
      <div id="guessOption2" ng-click="def.isCorrect(def.guessOptions[2], '#guessOption2')" class="col-md-offset-2 col-md-4 guessOption">
        <h3 >{{def.guessOptions[2]}}</h3>
      </div>
      <div id="guessOption3" ng-click="def.isCorrect(def.guessOptions[3], '#guessOption3')" class="col-md-4 guessOption">
        <h3 >{{def.guessOptions[3]}}</h3>
      </div>
    </div>
  </div>

</div>
