<div class="container gameBackground">
  <h1 class="jumbotron">Definition Match!</h1>

  <div class="row">
      <div class="col-md-3 col-md-offset-3">
          <ul class="nav home">
              <li><a href="#home">Home</a></li>
          </ul>
      </div>
  </div>
  <div class="gameScore">Score: <span class="digit shadow">{{def.correct}}</span></div>
  <div class ="timer">{{def.counter}}</div>
  <!-- <div id="timer">
    <countdown timer="def.timer" radius="50" stroke="10"></countdown>
    <button ng-click="def.timer.start()">Start</button>
  </div> -->



  <div class="definition">
    <h2>{{def.currentVerbDefinition}}</h2>
  </div>

  <div id="guessOptions">
    <div class="row">
      <div ng-click="def.isCorrect(def.guessOptions[0])" class="col-md-offset-2 col-md-4 guessOption">
        <h3 >{{def.guessOptions[0]}}</h3>
      </div>
      <div ng-click="def.isCorrect(def.guessOptions[1])" class="col-md-4 guessOption">
        <h3 >{{def.guessOptions[1]}}</h3>
      </div>
    </div>
    <div class="row">
      <div ng-click="def.isCorrect(def.guessOptions[2])" class="col-md-offset-2 col-md-4 guessOption">
        <h3 >{{def.guessOptions[2]}}</h3>
      </div>
      <div ng-click="def.isCorrect(def.guessOptions[3])" class="col-md-4 guessOption">
        <h3 >{{def.guessOptions[3]}}</h3>
      </div>
    </div>
  </div>

</div>
