<div class="container">
  <div id="welcomeMessage" ng-class="{fuschia: home.loggedIn(), blue: !home.loggedIn()}" class="center whiteFont" >{{home.getDisplayName()}}</div>

  <div id="logIn">
    <!-- <button class="btn-primary" ng-click="home.logInOut()">Log {{home.inOut}}</button> -->
    <span ng-if="!home.loggedIn()" ng-click="home.logInOut()" class="glyphicon glyphicon-log-in grow borderShadow"></span>
    <span ng-if="home.loggedIn()" ng-click="home.logInOut()" class="glyphicon glyphicon-log-out grow borderShadow"></span>
  </div>
  <div id="pivot" >
  <h1 class='shadow center'><span class="p sink">P</span>i<span class="v shrink">V</span>o<span class="t rotate">T</span>
  </div>
  <div class="quote center">The turning point in {{home.getDisplayName(true)}} <span class="p">Phrasal</span> <span class="v">Verb</span> <span class="t">Training!</span></div>

  <div id="gamesContainer">
    <a href="#choice" class="gameSquare grow blue whiteFont" ><p>Games</p></a>
    <a href="#verbs" class="gameSquare grow fuschia whiteFont" ><p>Verbs</p></a>
    <a href="#progress" class="gameSquare grow orange whiteFont"><p>Progress</p></a>

  </div>

</div>
