<div class="container">
  <div id="pivot" >
  <h1 class='shadow center'><span id="p" class="sink">P</span>i<span id="v" class="shrink">V</span>o<span id="t" class="rotate">T</span>
  </div>
  <h3 class="quote">The turning point in your <span id="p">Phrasal</span> <span id="v">Verb</span> <span id="t">Training!</span></h3>

  <div id="logIn">
    <button class="btn-primary" ng-click="home.logIn()">Log In</button>
    <button class="btn-primary" ng-click="home.logOut()">Log Out</button>
  </div>

  <div id="gamesContainer">
    <a href="#choice" class="gameSquare grow blue whiteFont" ><p>Choose Game</p></a>
    <a href="#verbs" class="gameSquare grow fuschia whiteFont" ><p>Phrasal Verbs</p></a>
    <a href="#progress" class="gameSquare grow orange whiteFont"><p>Progress</p></a>

  </div>

</div>
