<div class="container">
  <h1 id="title" class='jumbotron yellow shadow'><span id="p">P</span>i<span id="v">V</span>o<span id="t">T</span></h1>
  <h3 class="quote">The turning point in your <span id="p">Phrasal</span> <span id="v">Verb</span> <span id="t">Training!</span></h3>

  <div id="logIn">
    <button class="btn-primary" ng-click="home.logIn()">Log In</button>
    <button class="btn-primary" ng-click="home.logOut()">Log Out</button>
  </div>


  <!-- <nav class="row">
      <div class="col-xs-6 ">
          <ul class="nav nav-pills nav-justified">
              <li><a href="#home">Home</a></li>
              <li><a href="#choice">Choose game</a></li>
              <li><a href="#verbs">Phrasal Verbs</a></li>
              <li><a href="#progress">Progress</a></li>
          </ul>
      </div>
  </nav> -->

  <div id="gamesContainer">
    <a href="#choice" ><div class="gameSquare grow blue whiteFont" >Choose Game</div></a>
    <a href="#verbs" ><div class="gameSquare grow fuschia whiteFont" >Phrasal Verbs</div></a>
    <a href="#progress" ><div class="gameSquare grow orange whiteFont">Progress</div></a>

  </div>

</div>
