
<div class="container white ">

  <h1 class='jumbotron orange whiteFont darkShadow'>Progress!</h1>

  <div class="row center">
    <a href="#home"><span class="glyphicon glyphicon-home grow"></span></a>
  </div>


  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Correct</th>
        <th>Incorrect</th>
        <th class="percentageTableHeader">Percentage</th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat="verbData in prog.tableData">
        <td class="center">{{verbData.date | date}}</td>
        <td class="center">{{verbData.correct}}</td>
        <td class="center">{{verbData.incorrect}}</td>
        <td class="center">{{verbData.percentage | number:0}}%</td>
      </tr>

    </tbody>
  </table>

</div>
