
<div class="container white ">

  <h1 class='jumbotron orange whiteFont darkShadow'>Progress!</h1>

  <div class="row center">
    <a href="#home"><span class="glyphicon glyphicon-home grow"></span></a>
  </div>


  <table class="table table-bordered table-striped">
    <thead>
      <tr id="progressTableHeader" class="orange whiteFont">
        <th ng-click="prog.sortType = 'date'; prog.sortReverse = !prog.sortReverse" >Date</th>
        <th ng-click="prog.sortType = 'correct'; prog.sortReverse = !prog.sortReverse" >Correct</th>
        <th ng-click="prog.sortType = 'incorrect'; prog.sortReverse = !prog.sortReverse" >Incorrect</th>
        <th ng-click="prog.sortType = 'percentage'; prog.sortReverse = !prog.sortReverse" >%</th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat="verbData in prog.tableData | orderBy:prog.sortType:prog.sortReverse">
        <td class="center">{{verbData.date | date}}</td>
        <td class="center">{{verbData.correct}}</td>
        <td class="center">{{verbData.incorrect}}</td>
        <td class="center">{{verbData.percentage | number:0}}</td>
      </tr>

    </tbody>
  </table>

</div>
