<div class="container">

  <div class="jumbotron"><h1>Score</h1></div>

  <div class="row">
      <div class="col-md-3 col-md-offset-3">
          <ul class="nav nav-pills nav-justified">
              <li><a href="#home" ng-click="score.resetGameData()">Home</a></li>
              <li><a href="#definition" ng-click="score.resetGameData()">Repeat</a></li>
          </ul>
      </div>
  </div>

  <h1>Total Correct: {{score.correct}}</h1>
  <h1>Total Incorrect: {{score.incorrect}}</h1>
  <h1>Percentage: {{score.percentage}}%</h1>


</div>
