<div class="container">

  <div class="jumbotron yellow"><h1>Score</h1></div>

  <div class="row center">
    <a href="#home"><span class="glyphicon glyphicon-home left"></span></a>
  </div>
  <div class="center">
    <span ng-click="score.changeView()" class="glyphicon glyphicon-repeat"></span>
  </div>
  <div id="scoreData" class="blue">
    <h1>Total Correct: <span class="digit whiteFont">{{score.correct}}</span></h1>
    <h1>Total Incorrect: <span class="digit whiteFont">{{score.incorrect}}</span></h1>
    <h1>Percentage: <span class="digit whiteFont">{{score.percentage}}%</span></h1>
  <div>


</div>
