<div class="container">

  <div class="jumbotron yellow"><h1>Score</h1></div>

  <div class="row">
      <div class="col-md-3 col-md-offset-3">
          <ul class="nav nav-pills nav-justified">
              <li><a href="#home" ng-click="score.resetGameData()">Home</a></li>
              <li><button ng-click="score.changeView()">Repeat</button></li>
          </ul>
      </div>
  </div>

  <div id="scoreData" class="fuschia">
    <h1>Total Correct: <span class="digit whiteFont">{{score.correct}}</span></h1>
    <h1>Total Incorrect: <span class="digit whiteFont">{{score.incorrect}}</span></h1>
    <h1>Percentage: <span class="digit whiteFont">{{score.percentage}}%</span></h1>
  <div>


</div>
