
<div class="container white ">
  <h1 class='jumbotron fuschia whiteFont darkShadow'>Phrasal Verbs!</h1>

  <div class="row center">
    <a href="#home"><span class="glyphicon glyphicon-home grow"></span></a>
  </div>

  <div>
    <label for="verbSearch">Search</label>
    <input name="verbSearch" type="text" class="form-control" placeholder="Search for phrasal verb" ng-model="search">
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr id="verbsTableHeader" class="fuschia whiteFont">
        <th ng-click="verbs.sortType = 'phrasal_verb'; verbs.sortReverse = !verbs.sortReverse">Verbs</th>

        <th ng-click="verbs.sortType = 'definition'; verbs.sortReverse = !verbs.sortReverse">Definition</th>

        <th ng-click="verbs.sortType = 'percentage'; verbs.sortReverse = !verbs.sortReverse" >%</th>
      </tr>
    </thead>
    <tbody>

      <!-- <tr ng-repeat="verbData in verbs.tableData | filter:search"> -->
      <tr ng-repeat="verbData in verbs.tableData | orderBy:verbs.sortType:verbs.sortReverse | filter:search">
        <td class="center">{{verbData.phrasal_verb}}</td>
        <td>{{verbData.definition}}</td>
        <td class="center">{{verbData.percentage | number:0}}</td>
      </tr>

    </tbody>
  </table>
</div>
