
<div class="container white ">
  <h1 class='jumbotron fuschia whiteFont darkShadow'>Phrasal Verbs!</h1>

  <div class="row center">
    <a href="#home"><span class="glyphicon glyphicon-home grow"></span></a>
  </div>

  <div>
    <label for="verbSearch">Search</label>
    <input name="verbSearch" type="text" class="form-control" placeholder="Search for phrasal verb" ng-model="search">
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><a ng-click="verbs.sortType = 'phrasal_verb'; verbs.sortReverse = !verbs.sortReverse">Phrasal Verb</a></th>

        <th><a ng-click="verbs.sortType = 'definition'; verbs.sortReverse = !verbs.sortReverse">Definition</a></th>

        <th><a ng-click="verbs.sortType = 'percentage'; verbs.sortReverse = !verbs.sortReverse">Percentage</a></th>
      </tr>
    </thead>
    <tbody>

      <!-- <tr ng-repeat="verbData in verbs.tableData | filter:search"> -->
      <tr ng-repeat="verbData in verbs.tableData | orderBy:verbs.sortType:verbs.sortReverse | filter:search">
        <td>{{verbData.phrasal_verb}}</td>
        <td>{{verbData.definition}}</td>
        <td>{{verbData.percentage | number:0}}%</td>
      </tr>

    </tbody>
  </table>
</div>
