
<div class="container">
  <h1>Phrasal Verbs!</h1>

  <div class="row">
      <div class="col-md-3 col-md-offset-3">
          <ul class="nav nav-pills nav-justified">
              <li><a href="#home">Home</a></li>

          </ul>
      </div>
  </div>

  <div>
    <label for="verbSearch">Search</label>
    <input name="verbSearch" type="text" class="form-control" placeholder="Search for phrasal verb" ng-model="search">
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Phrasal Verb</th>
        <th>Definition</th>
        <th>Percentage</th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat="verbData in verbs.tableData | filter:search">
        <td>{{verbData.phrasal_verb}}</td>
        <td>{{verbData.definition}}</td>
        <td>{{verbData.percentage | number:1}}%</td>
      </tr>

    </tbody>
  </table>
</div>
